/* root */
:root{
 --iris:#4D5AE5;
 --ocean:#404BBF;
 --navy-blue:#2E2F42;
 --green:#31D0AA;
 --slate:#434455;
 --light-slate:#8E8F99;
 --cornflower:#E7E9FC;
 --cloud:#F4F4FD;
 --navy-blue-modal:#2E2F42;
 --grey:#2E2F42;
 --white:#FFFFFF; 
 --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4{
margin-top: 0;
margin-bottom: 0;
}
ul,li{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
    max-width: 100%;
   height: auto;
}

address{
    font-style: normal;
}
body{
     color:var(--slate);
     font-family: "Roboto", sans-serif;
     background:var(--white);
    }
.list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.link{
    text-decoration: none;
}

     .container {
  /* Phone styles & > */
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  outline: 2px solid red;
}
/* Tablet styles & > */
@media only screen and (min-width: 720px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop styles & > */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
  }
}
.section {

    padding-bottom: 96px;
    padding-top: 96px;

}

@media screen and (min-width:1158px) {
    .section {
        padding-bottom: 120px;
        padding-top: 0;
    }
}

/* ==========Шапка сайту HEADER========== */
.page-header{
   border-bottom: 1px solid var(--cornflower);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.container-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation{
    display: flex;
    align-items: center; 
   
}
.logo{
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
/* 


*/

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}


.list-mobile{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    
  }

    @media only screen and (max-width: 767px) {
  .list-mobile {
    display: none;
  }
}

.logo-naim{
    color:var(--navy-blue);
}
 

.menu-link{
    position: relative;
    display: block;
    padding-top: 24px; 
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    
}
.menu-link:hover,
.menu-link:focus{
    color:var(--ocean);
}
.menu-link::after{
  content: '';
  position: absolute;
  bottom:0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;

}
.menu-link.current{
color: var(--ocean);
transition: background-color var(--anim-fast);
}
.menu-link.current::after
{
  background-color: var(--ocean);
}
.contact-link{
 display: flex;
 align-items: center;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--slate);
 transition: color var(--anim-fast);

}
.contact-link:hover,
.contact-link:focus{
    color:var(--ocean);
}
.menu-toggle-icon {
  stroke: var(--navy-blue);
}

/* ========== 1 секція HERO========== */
.container-hero{
 
    justify-content: center;
}

.hero {

    background: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url("..//images/hero-mob@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;



    background-color: var(--navy-blue);
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    margin-bottom: 0px;
    max-width: 428px;


}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("..//images/hero-mob@2x.jpg");
    }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("..//images/hero-tab@1x.jpg");
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("..//images/hero-tab@2x.jpg");

        }
    }
}

@media screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("..//images/hero-des@1x.jpg");
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url("..//images/hero-des@2x.jpg");
        }
    }
} 
    

.hero-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:var(--white); 
    max-width: 496px;
    margin-bottom: 72px;
    max-width: 320px;
 }
 @media only screen and (min-width: 768px) {
  .hero-title {
   font-size: 56px;
   line-height: 1.07;
   margin-bottom: 40px;
   max-width: 496px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title{
  margin-bottom: 48px;
  }
}

.btn{
 display: block;
 margin-left: auto;
 margin-right: auto;
 min-width: 169px;
 height: 56px;
 border: none; 
 font-family: inherit;
 font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 align-items: center;
 letter-spacing: 0.04em;
 color: var(--white);
 background: var(--iris);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 cursor: pointer;
 transition: background var(--anim-fast);
}
.btn:hover,
.btn:focus{
    background:var(--ocean);
}
/* ==========2 секція HANG========== */
.container-description{
display: flex;
}
.description{
padding: 120px 0 ;
}
.description-list{
    display: flex;
    gap: 24px;
   }
   @media screen and (max-width: 767px) {
  .description-list {
    flex-direction: column;
    gap: 72px;
  }
}
 @media screen and (min-width: 768px) and (max-width: 1157px) {
  .description-list {
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}
 
   .des-icon{
  display: flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  background-color:var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 1167px) {
  .des-icon {
    display: none;
  }
}

.description-icon{
 margin: 24px ;
}

.stategy {
  width: auto;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .stategy {
    width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .stategy {
    width: 264px;
    /* flex-basis:calc((100% - 72px) / 4); */
  }
}

.subtitle{
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
background-color: var(--white);
margin-bottom: 8px;

}
@media screen and (min-width: 1158px) {
  .subtitle {
    font-weight: 500;
  }
}

.team-subtitle{
text-align: center;
}
.text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
@media screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
  }
}
.text-subtitle{
 text-align: center;   
 margin-bottom: 8px;
}
/* ========== 3 секція What are we doing========== */
.container-work{
 
}
.work{
padding-bottom: 120px; 
}
@media only screen and (max-width: 767px) {
  .work {
    display: none;
  }
}
.list-work{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}
.list-work:not(:last-child){
    margin-right: 24px;
}

.title-work{
flex-basis: calc((100% - 48px) / 3);
}

/* ========== 4 секція TEAM========== */
.team{ 
 background-color:var(--cloud);
 padding-top: 96px;
 padding-bottom: 96px;
 
}
@media screen and (min-width:1158px) {
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.team-list{
  background-color:var(--cloud); 
}
.list-people{
    display: flex;
    /* gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    width: 264px;
    margin-left: auto;
    margin-right: auto; */
    
}
@media screen and (max-width: 1157px) {
    .list-people {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 64px;
      column-gap: 24px;
      /* margin-left: 0;
      margin-right: 0; */
  }
            }

/* @media screen and (min-width:768px) {
    .list-people {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        row-gap: 64px;
    }
} */
.team-group{
    background-color: var(--white);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
     }

  /* .team-group:not(:last-child) {
    margin-bottom: 72px;
}

@media screen and (min-width:768px) {
    .team-group:not(:last-child) {
        margin-bottom: 0;
    }
} */

.card-content{
     padding-top: 32px; 
     padding-bottom: 32px; 
     padding-left: 16px; 
     padding-right: 16px;
     border: 1px solid #e7e9fc;
     border-top: 0;
     
}

.subject{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
background-color:var(--white); 
margin-bottom: 72px;

}




/* Socials icons */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  }
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color var(--anim-fast);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--ocean);
 
}
.socials-icon {
   fill: var(--cloud);
}

/* ==========5 секція Customers========== */
.customers-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-icon{
      fill: currentColor;
}

.title-customers{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 72px;
}
/* .customers{
 display: flex; 
 gap: 24px;
 height: 88px;
 justify-content: center;
} */
.clients {
  display: flex;
  gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .clients {
    gap: 24px;
    row-gap: 72px;
  }
}

.partner-border{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--light-slate);
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    gap: 24px;
    transition: color var(--anim-fast),border-color var(--anim-fast);
}

/* .customers-item{
width: calc((100% - 120px) / 6);
 height:88px; 

} */
@media screen and (max-width: 767px) {
  .customers-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

.partner-border:hover,
.partner-border:focus{
    border-color: #404bbf;
    color: #404bbf; 
}



/* ==========FOOTER========== */
.footer-stile{
background:var(--navy-blue);
padding-top: 96px;
padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .footer-stile {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.logo-footer{
    color:var(--cloud);}

   .footers
   {display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
 }  
@media screen and (max-width: 767px) {
  .footers {
    text-align: center;
  }
}
.text-footer{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  var(--cloud);
width: 264px;
}
/* ==========FOOTER========== */
.scrolls{

 font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--iris);
background-color:var(--cloud);
cursor: pointer;
padding: 12px 24px;
display: inline-block;
border: 1px solid var(--cornflower); 
 border-radius: 4px;
 transition: color var(--anim-fast),border-color var(--anim-fast),background-color var(--anim-fast),box-shadow var(--anim-fast);
 }
.scrolls:hover,
.scrolls:focus{

    color: var(--white);
    background-color:var(--ocean);
    border-color:  var(--ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 

}
.container-footer{
 display: flex;
   /* align-items: baseline */
}

@media screen and (max-width: 767px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-footer {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .container-footer {
    align-items: baseline;
  }
}

.footer-logo {
  width: 268px;
}

@media screen and (min-width: 1158px) {
  .footer-logo {
    display: block;
    margin-right: 120px;
  }
}


.footer-media{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--white);
 margin-bottom: 16px;

}
@media screen and (max-width: 767px) {
  .footer-media {
    text-align: center;
  }
}
.footer-social{
 
}
.socials-footer{
display: flex;
  justify-content: center;
  gap: 16px;
}

.socials-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  gap: 16px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color var(--anim-fast),box-shadow var(--anim-fast);
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--green);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
 
}

@media screen and (max-width: 767px) {
  .footer-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}

@media screen and (min-width: 1158px) {
  .footer-input {
    margin-left: auto;
  }
}


.footer-input-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer-input-label {
    margin-bottom: 16px;
  }
}

/* .footer-form-div {
  display: flex;
  gap: 24px;
} */

@media screen and (min-width: 768px) {
  .footer-form-div {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .footer-form-div {
    display: flex;
  }
}

.footer-input-email {
  width: auto;
  min-height: 40px;
  padding: 8px 16px;
  background: #2e2f42;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  outline: transparent;
}
@media screen and (min-width: 320px) and (max-width: 428px) {
  .footer-input-email{
    margin-bottom: 16px;
  }
}


@media screen and (min-width: 428px) {
  .ooter-input-email {
    width: 398px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .ooter-input-email {
    width: 264px;
    margin-right: 24px;
  }
}
.footer-input-email[type='email']::placeholder {
  color:var(--white);
  opacity: 1;
}

/* .footer-input-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 165px;
  max-height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  align-items: center;
  color:var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
} */
.footer-input-btn {
  font-weight: 500;
  display: flex;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 24px;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  border-radius: 4px;
  color: #ffffff;
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .footer-input-btn {
    margin: 0 auto;
  }
}

.footer-input-btn:hover,
.footer-input-btn:focus {
  background-color: var(--ocean);
}

.footer-input-icon {
  color: var(--white);
  gap: 16px;
}
/* Скрываем название */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* **************PORTFOLIO ***********/
.portfolio{
    padding: 96px 0 120px;
}
.desc{
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}
.list-portfolio{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-link {
    display: block;
     transition:box-shadow var(--anim-fast);
    
}
.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.nav{
    display: flex;
  align-items: center;
  gap: 40px;
}

.box {
  position: relative;
  width: 360px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: var(--iris);

  transform: translatey(100%);
  transition: var(--anim-fast);
  }

.box:hover .overlay {
  transform: translatey(0);
}

.overlay p {
  color: var(--cloud);
  
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* Modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(4px);

  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease, visibility 200ms ease, backdrop-filter 200ms ease;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 392px;
    padding: 72px 16px 24px;
  }
}
.modal-btn {
 position: absolute;
 top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
 
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  fill: var(--navy-blue);
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--white);
  background-color: var(--ocean);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: var(--white);
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
  opacity: 0;
}
.modal-title {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.modal-form-label{
 display: block;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.modal-svg {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: 2px solid transparent;
  outline-offset: -2px;

  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  outline-color: var(--iris);
}

.modal-icons {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  pointer-events: none;
}

.modal-form-input:hover + .modal-icons,
.modal-form-input:focus + .modal-icons {
  fill: var(--iris);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 16px;

  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: 2px solid transparent;
  outline-offset: -2px;

  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:hover,
.modal-form-message:focus {
  outline-color: var(--iris);
}

.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-agreement-box {
   appearance: none;
}

.modal-form-agreement-unchecked {
  opacity: 1;
  transition: var(--anim-fast);
}

.modal-form-agreement-icon {
   transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-unchecked {
  opacity: 0;
}

.modal-form-agreement-checked {
  opacity: 0;
  transition: var(--anim-fast);
}
input[type='checkbox']:checked
  + .modal-form-agreement-icon
  > .modal-form-agreement-checked {
  opacity: 1;
}

.modal-form-agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
   /* outline: 2px solid red; */
   margin-left: 8px;

   
}
.modal-form-agreement-link {
  text-decoration: underline;
  color: var(--iris);
}

.modal-btn-modal {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  /* transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
}
/* mobile menu stile*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
/* Вспливающе меню */
.main-mob-wrap {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        height: 100%;
    }
    .mob-wrap-link {
        margin-bottom: auto;
    }